<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CaculatorKids.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AA80CF71E80CA5C00310A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AA80D0B1E80CA5D00310A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AA80D161E80CA5D00310A51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
